.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  color: #fff;
}

.logo-container {
  display: flex;
  align-items: center;
  font-size: 17px;
  
}

.logo-text {
  margin-left: 10px;
  font-weight: 600;
  font-size: 22px;
  color: #000;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.navbar-logo-link {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.logo-icon {
  margin-right: 10px;
  width: 33px;
  height: 33px;
  color: #000;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-link {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  align-items: center;
  margin-left: 100px;
  color: #090909;
  text-decoration: none;
}

.icon {
  margin-right: 5px;
  color: #000;
}

.hamburger-icon {
  display: none;
  cursor: pointer;
  color: #000;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-link {
    margin: 10px 0;
  }

  .hamburger-icon {
    display: block;
  }
}